.dashboard {
    display: flex;
    margin-bottom: 20px;
}

.card {
    background-color: #1e40af;
    color: white;
    padding: 20px;
    border-radius: 6px;
    width: 200px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #0f172a;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f5f9;
}
