{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block conteudo %}


<div class="admin-acoes">
    <a href="/admin/produtos" class="btn-admin">Gerenciar Produtos</a>
</div>

<h2>Área Administrativa</h2>

<!-- DASHBOARD SIMPLES -->
<div class="dashboard">
    <div class="card">
        <h3>Total de Pedidos</h3>
        <p>{{ pedidos|length }}</p>
    </div>
</div>

<hr>

<!-- PRODUTOS MAIS SOLICITADOS -->
<h3>Produtos Mais Solicitados</h3>

<table>
    <tr>
        <th>Produto</th>
        <th>Quantidade Vendida</th>
    </tr>

    {% for v in vendidos %}
    <tr>
        <td>{{ v[0] }}</td>
        <td>{{ v[1] }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<!-- HISTÓRICO DE PEDIDOS -->
<h3>Histórico de Pedidos</h3>

<table>
<tr>
  <th>Cliente</th>
  <th>Produto</th>
  <th>Quantidade</th>
  <th>Endereço</th>
  <th>Status</th>
  <th>Ação</th>
</tr>

{% for p in pedidos %}
<tr>
  <td>{{ p["cliente"] }}</td>
  <td>{{ p["produto_nome"] }}</td>
  <td>{{ p["quantidade"] }}</td>
  <td>{{ p["endereco"] }}</td>
  <td>{{ p["status"] }}</td>
<td>
            {% if p["status"] == "Pendente" %}
                <a href="/pedido_resolvido/{{ p['id'] }}">
                    Marcar como resolvido
                </a>
            {% else %}
                ✔ Resolvido
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2>🏆 Ranking de Produtos Mais Vendidos</h2>

<table border="1" width="100%">
    <tr>
        <th>Produto</th>
        <th>Total Vendido</th>
    </tr>

    {% for r in ranking %}
    <tr>
        <td>{{ r['produto_nome'] }}</td>
        <td>{{ r['total_vendido'] }}</td>
    </tr>
    {% endfor %}
</table>


<hr>

<h2>📊 Gráfico de Produtos Mais Vendidos</h2>

<div class="grafico">
    {% for r in ranking %}
    <div class="grafico-item">
        <span class="nome-produto">{{ r['produto_nome'] }}</span>
        <div class="barra-container">
            <div class="barra" style="width: {{ r['total_vendido'] * 20 }}px;">
                {{ r['total_vendido'] }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
