<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Estoque Automotivo{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>

<header>
    <h1>ZAC ESTOQUE AUTOMOTIVO</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/produtos">Produtos</a>
        <a href="/novo_produto">Novo Produto</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Sair</a>
    </nav>
</header>

<div class="container">
    {% block conteudo %}{% endblock %}
</div>

<footer class="footer">
    <p>
        © 2025 • Sistema de Estoque Automotivo<br>
        Desenvolvido por <strong>Gean Pereira</strong>
    </p>
</footer>


</body>
</html>
